{{ form_start(form) }}
    <div class="container">
        <div class="row bnj-medicine-form-desktop">
            <div class="bnj-panda-background">
                <img id="panda-img" src="{{ asset('../img/panda_head.png') }}" alt="panda_head" class="bnj-panda-mobile-image">
                <div id="panda-border" onclick="addPanda('panda-border', 'panda-img')" class="col-sm-12 col-lg-4">{{ form_row(form.name) }}</div>
            </div>
            <div class="row time-of-day">
                <div class="col bnj-timeofday-desktop">{{ form_row(form.morning) }}</div>
                <div class="col bnj-timeofday-desktop">{{ form_row(form.noon) }}</div>
                <div class="col bnj-timeofday-desktop">{{ form_row(form.evening) }}</div>
            </div>
            <div class="bnj-panda-background">
                <img id="panda-img-bis" src="{{ asset('../img/panda_head.png') }}" alt="panda_head" class="bnj-panda-mobile-image">
                <div id="quantity" onclick="addPanda('quantity', 'panda-img-bis')" class="col-sm-12 col-lg-3">{{ form_row(form.quantity) }}</div>
            </div>
            <div class="bnj-panda-background">
                <img id="panda-img-ter" src="{{ asset('../img/panda_head.png') }}" alt="panda_head" class="bnj-panda-mobile-image">
                <div id="number-of-days" onclick="addPanda('number-of-days', 'panda-img-ter')" class="col-sm-12 col-lg-3">{{ form_row(form.numberOfDays) }}</div>
            </div>
        </div>
    </div>

    <div class="medicine-button"><button class="btn" style="font-family: 'Pangolin', cursive; font-size: 1.5em">New prescription</button></div>
{{ form_end(form) }}
